.convert {
    max-width: 600px;
    margin: 0px auto;
    background-color: aqua;
    border-radius: 5px;
}
.td:first-child {
    width: 400px;
    padding: 5px;
}
.value {
    width: 300px;
    border-radius: 3px;
}
.btn {
    text-decoration: none;
    padding: 5px;
    background-color: rgb(109, 144, 209);
    color: white;

}
.btn:hover {
    background-color: lightblue;
}